<div class="container" data-ng-controller="RegisterCtrl">
  <h1>Register</h1>
  <form>
    <label for="username">Username:</label>
    <input type="text" id="username" />
    <label for="password">Password:</label>
    <input type="password" id="password" />
    <label for="confirm-password">Confirm Password:</label>
    <input type="password" id="confirm-password" /><br />
    <button type="submit" class="btn btn-primary" data-ng-click="singUp()">Sign up</button>
    <a href="/" class="btn btn-link">home</a>
  </form>
</div>